@import url('animation.css') screen;
body{
	background:-moz-linear-gradient(top,#000,#ccc);
	/*firefox*/
	background:-webkit-linear-gradient(top,#000,#ccc);
	/*chrome*/
	background:-ms-linear-gradient(top,#000,#ccc);
	/*ie11*/
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#000', endColorstr='#ccc');
    /*for ie not 11*/
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-decoration: none;
}


/*startBar*/
#startBar{
	background-color: #fff;
	position: absolute;
	top:40%;
	left:45%;
	height:20%;
	width: 9%;
	border-radius: 90px;
}
#startBar h2{
	position: absolute;
	top:20%;
	left:1%;
}

/*topBar*/
/*#topBar{
	width:100%;
	height:60px;
	background-color: #fff;
}*/
#topBar{
	width:0px;
	height:0px;
	background-color: #fff;
	border-radius:90px;
	margin:0 auto;
}

#icon{
	width:40%;
	position: absolute;
	top:20%;
	left:45%;
	opacity: 0;
}
#icon img{
    width:20%;
}
#topBar a{
	position: absolute;
	left:20%;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
	opacity: 0;
}
/*leftBar*/
#leftBar{
	opacity: 0;
	position: absolute;
	top:120px;
	left:-10%;
}
#leftBar img{
	width:480px;
	height:400px;
}
.container{
	overflow:hidden;
	width:500px;
	background: #fff;
	padding: 10px;
	position: absolute;
}
#content{
	background: #fff;
	width:100%;
	height:400px;
	overflow: hidden;
}
#slider{
	background:#000;
	overflow: hidden;

}
#mask {
	overflow:hidden;
	height:100%;
}
#slider ul {
	margin:0;
	padding:0;
	position:absolute;
}
#slider li {
	width:100%;
	height:100%;
	position:absolute;
	top:-100%;
	list-style:none;
}
#slideFirst{
	position: absolute;
	top:0px;
	left:0px;
}
#slideSecond{
	position: absolute;
	top: 0px;
	left:500px;
}
#slideThird{
	position: absolute;
	top: 0px;
	left:500px;
}
#slideFourth{
	position: absolute;
	top: 0px;
	left:500px;
}
#slideFifth{
	position: absolute;
	top: 0px;
	left:500px;
}
#slider li.firstAnimation {
	animation: slide 25s linear infinite;
}
#slider li.secondAnimation {
	animation: slideSecond 25s linear infinite ;		
}
#slider li.thirdAnimation {
    animation: slideThird 25s linear infinite ;		
}
#slider li.fourthAnimation {
    animation: slideFourth 25s linear infinite ;			
}
#slider li.fifthAnimation {
	animation: slideFifth 25s linear infinite ;		
}
#slider:hover li,#slider:hover #progressBar{
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

#progressBar{ 
	position:absolute;
	top:405px;
	width:500px; 
	height:5px;
	background:red;
	animation:expand 25s ease-out infinite;
	
}
/*rightBar*/
#rightBar{
	padding:20px;
	width:50%;
	height:600px;
	position: absolute;
	top:60px;
	left:70%;
	opacity: 0;
}
#rightBar h1{
	color: #fff;
	margin:0 auto;
	font-size: 350%;
	position: absolute;
	left:10%;
}
.message{
	overflow: hidden;

	padding: 5%;
	position: absolute;
	top:10%;
	left:10%;
    height:60%;
    width: 80%;
    background-color: #666;
}
#rightBar p{
	color: #fff;
	position: absolute;
	top:20%;
	font-size: 150%;
	margin-top: 10%;
}

#logIn{
	width: 20%;
	position: absolute;
	top:80%;
	left:20%;
	transition:.5s;
}
#logIn:hover{
	width:30%;
	left:15%;
}
#signUp{
	width: 20%;
	position: absolute;
	top:80%;
	left:55%;
	transition:.5s;
}
#signUp:hover{
	width:30%;
	left:50%;
}

/*copyRight*/
#copyRight{
	position: absolute;
	bottom:0px;
	width:100%;
	height:30px;
	display: none;
}
#copyRight p{
	position: absolute;
	left:30%;
}

/*modal*/
form{
	padding: 10px;
}
form label{
	font-size: 20px;
}
.form-group a{
	text-decoration: none;
}
#submit{
	margin-top: 20px;
	width:100%;
	font-weight: bold;
}
.modal input{
	
    border: 1px solid #999;                
    padding: 2px 2px 2px 9%;/*名称输入框*/ 

}
#username{
    background:url(../images/envelope.jpg) no-repeat; 
    background-size: 9%;
}
#password{
	background:url(../images/key.png) no-repeat; 
    background-size: 9%;
}


/*signup page*/
#topBar2{
	width:100%;
	height:60px;
	background-color: #fff;
}

#icon2{
	width:40%;
	position: absolute;
	top:0px;
	left:2%;
}
#icon2 img{
    width:20%;
}
#topBar2 a{
	position: absolute;
	left:20%;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
}
/*leftBar 2*/
#leftBar2{
	
	position:absolute;
    top:15%;
    left:65%;
	width: 25%;
	height:70%;
}
#up2{
	width:90%;
	padding: 5%;
	border: 2px solid #fff;
	position: absolute;
	top:0%;
	height:30%;
	padding: auto;
	font-size: auto;
}
#up2 h3{
	margin: 0 auto;
	color:#fff;
}
#down2{
	padding: 5%;
	border: 2px solid #fff;
	position: absolute;
	top:40%;
	height: 60%;
	width:90%;
}
#down2 h3,#down2 p{
	color:#fff;
}

/*rightBar 2*/
#rightBar2{
	position: absolute;
	left:15%;
	top:15%;
	width:43%;
	height:70%;
}
#progress{
	position: absolute;
	top:0%;
	border:2px solid #fff;
	height:20%;
	width:100%;
}
#form{
	position: absolute;
	top:25%;
	border:2px solid #fff;
	height:80%;
	width:100%;
}
#form{
	padding:5%;
	background: #fff;
}

#form input{
  width:60%;
  position: relative;
  left:10%;
  
 
                   
  padding: 4px 10px 4px 8%;/*名称输入框*/
}
#Name{
	background: url(../images/user.png) no-repeat #fff;
	background-size: 10%;
}


#Email{
	background: url(../images/envelope.jpg) no-repeat #fff;
	background-size: 11%;
}
#Password{
	background: url(../images/key.png) no-repeat #fff;
	background-size: 11%;
}
#Phone{
	background: url(../images/phone.png) no-repeat #fff;
	background-size: 10%;
}
#btns{
	position: absolute;
	top:75%;
    left:30%;
    width:100%;
}
.btns{
	text-align: center;
	padding: 0;
	width: 20px;
	margin-top: 10%;
}

