body{
	background:-moz-linear-gradient(top,#000,#ccc);
	/*firefox*/
	background:-webkit-linear-gradient(top,#000,#ccc);
	/*chrome*/
	background:-ms-linear-gradient(top,#000,#ccc);
	/*ie11*/
    FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#000', endColorstr='#ccc');
    /*for ie not 11*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-decoration: none;
}



/*topBar*/
/*#topBar{
	width:100%;
	height:60px;
	background-color: #fff;
}*/
#topBar{
	width:40px;
	height:40px;
	background-color: #fff;
	border-radius:90px;
	margin:0 auto;
}
#topBar:hover{
	width:42px;
	height:42px;
}
#icon{
	width:40%;
	position: absolute;
	top:40%;
	left:45%;
	opacity: 0;
}
#icon img{
    width:20%;
}
#topBar a{
	position: absolute;
	left:20%;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
	opacity: 0;
}
/*leftBar*/

#leftBar img{
	width:30%;
	position: absolute;
	left:20%;
	top:28%;
	opacity: 0;
}
/*rightBar*/
#rightBar{
	padding:20px;
	width:50%;
	height:80%;
	position: absolute;
	top:60px;
	left:40%;
	opacity: 0;
}
#rightBar h1{
	color: #fff;
	margin:0 auto;
	font-size: 350%;
	position: absolute;
	left:10%;
}
.message{
	padding: 5%;
	position: absolute;
	top:10%;
	left:10%;
    height:60%;
    width: 80%;
	border: 2px solid #fff;
}
#rightBar p{
	color: #fff;
	position: absolute;
	top:20%;
	font-size: 150%;
	margin-top: 10%;
}

#signIn{
	width: 20%;
	position: absolute;
	top:80%;
	left:20%;

}
#signUp{
	width: 20%;
	position: absolute;
	top:80%;
	left:55%;

}

/*copyRight*/
#copyRight{
	position: absolute;
	bottom:0px;
	width:100%;
	height:30px;
	display: none;
}
#copyRight p{
	position: absolute;
	left:30%;
}

/*modal*/
form{
	padding: 10px;
}
form label{
	font-size: 20px;
}
.form-group a{
	text-decoration: none;
}
#submit{
	margin-top: 20px;
}


/*signup page*/
#topBar2{
	width:100%;
	height:60px;
	background-color: #fff;
}

#icon2{
	width:40%;
	position: absolute;
	top:0px;
	left:2%;
}
#icon2 img{
    width:20%;
}
#topBar2 a{
	position: absolute;
	left:20%;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
}
/*leftBar 2*/
#leftBar2{
	
	position:absolute;
    top:20%;
    left:15%;
	width: 25%;
	height:70%;
}
#up2{
	width:90%;
	padding: 5%;
	border: 2px solid #fff;
	position: absolute;
	top:0%;
	height:30%;
	padding: auto;
	font-size: auto;
}
#up2 h1{
	margin: 0 auto;
	color:#fff;
	font-size: 200%;
}
#down2{
	padding: 5%;
	border: 2px solid #fff;
	position: absolute;
	top:40%;
	height: 60%;
	width:90%;
}
#down2 h3,#down2 p{
	color:#fff;
}

/*rightBar 2*/
#rightBar2{
	position: absolute;
	left:42%;
	top:20%;
	width:43%;
	height:70%;
}
#progress{
	position: absolute;
	top:0%;
	border:2px solid #fff;
	height:30%;
	width:100%;
}
#form{
	position: absolute;
	top:40%;
	border:2px solid #fff;
	height:60%;
	width:100%;
}
form{
	padding:5%;
}
#form input{
	width:60%;
	position: relative;
	left:10%;
}
#btns{
	position: absolute;
	top:75%;
    left:30%;
    width:100%;
}


