/*ir_main的CSS*/
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    color: rgba(0,0,0,0.2);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont:hover{
    color:#444;
}
/*天气部分*/
#weather{
    position: fixed;
    top:50%;
    right: 0;
    float: right;
    z-index: 999;
}
.weather-title{
    float: left;
    width:20px;
    height:64px;
    text-align:center;
    cursor:pointer;
    background-color:#e2e2e2;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #ccc;
    color:#444;
}
.weather-title span{
    margin: 100% 0;
}
.weather-frame{
    width: 140px;
    display: none;
    background-color: #e2e2e2;
    float: right;
}
/*主要*/
.col-md-2{
    padding-left: 0;
    padding-right: 0;
}
.col-md-10{
    padding-left: 0;
    padding-right: 0;
}
#left-view {
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    border-right: 1px solid #e6e8e9;
}
#right-view{
    z-index: 9999;
}
#logo{
    height: 51px;
    padding: 10px 0;
    padding-left: 32px;
    background-color: #21a5c3;
}
#logo img{
    height: 30px;
}
#list{
    margin-top: 16px;
}
#list a {
    text-decoration: none;
    line-height: 50px;
    display: block;
    padding-left: 32px;
    font-size: 18px;
    font-weight:bold;
}
#completed-list{
    margin-top: 60px;
    border-top: 1px solid #e6e8e9;
}
#bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#clock{
    margin-left: 20px;
    padding: 8px;
}
#toolbar {
    height: 10%;
    border-top: 1px solid #e6e8e9;
}
#avatar {
    height: 40px;
    width: 40px;
}
#name{
    margin-left: 20px;
}
.drop-hover{
    background-color: #21a5c3;
}

/*右侧部分*/
#titlebar{
    background-color: #21a5c3;
}
#collapsed .myicon{
    display: block;
    width: 22px;
    height: 2px;
    background-color: #444;
    margin: 0 auto 5px auto;
}
#collapsed .myicon_last{
    display: block;
    width: 22px;
    height: 2px;
    background-color: #444;
    margin: 0 auto 0 auto;
}
#collapsed{
    margin-left: 20px;
}
#title{
    color: #fff;
    font-size: 18px;
}
#clearTrash{
    margin-right: 30px;
}
#add-task{
    padding: 8px 16px;
}
#add-input{
    width: 100%;
}
#task-list-wrap{
    padding: 8px 16px;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item:hover{
    background-color: #e6e8e9;
}
.task-content{
    font-size: 16px;
    margin-left: 16px;
    padding: 8px;
}
.task-content br{
    display: none;
}
.del-icon{
    float: right;
    display: none;
}
/*完成后的任务的样式*/
.list-group .complete .task-content{
     color: rgba(0,0,0,.2);
    text-decoration: line-through;
 }
.list-group .complete .del-icon{
    display: inline;
}